@import "vars";
@import "libs";
@import "fonts";
@import "global";

//start header
.header {
	position: fixed;
	left: 0;
	top: 30px;
	right: 0;
	z-index: 10;

	&__inner {
		display: flex;
		justify-content: space-between;
		min-height: 30px;
		align-items: center;
		text-transform: uppercase;
		font-size: 15px;
		line-height: 17px;
		@extend %ubuntu-medium;
	}

	&__btn {
		color: #fff;
		background-color: transparent;
		padding: 6px 28px;
		border: 1px solid #fff;
		border-radius: 3px;
		cursor: pointer;
		transition: all .5s;

		&:hover {
			background-color: #fff;
			color: #1c1c1c;
		}
	}

	&__phone {
		font-size: 16px;
		line-height: 18px;
		@extend %ubuntu-bold;
		margin-left: 8px;
	}
}

.menu {
	&__list-item {
		display: inline-block;

		&+.menu__list-item {
			padding-right: 20px;
		}
	}
}

//end header
//start top
.top {
	background-image: url('../images/top-bg.jpg');

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background: radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0) 50.28%, rgba(23, 26, 28, 0.00225974) 50.29%, rgba(4, 5, 5, 0.820343) 58.72%, rgba(5, 5, 6, 0.792703) 80.08%, #000000 87.89%);
		opacity: 0.4;
	}

	&__wrapper {
		display: flex;
		align-items: flex-end;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}

	&__title {
		@extend %sf-semibold;
		font-size: 96px;
		margin-bottom: 25px;
		line-height: 115px;
	}

	&__text {
		max-width: 325px;
		margin: 25px 0 35px;
	}

	&__social-link {
		opacity: 0.5;
		transition: all .5s;

		&:hover {
			opacity: 1;
		}
	}
}

.top__social-item {
	display: inline-block;
	margin-right: 50px;
	margin-bottom: 13px;

	&:last-child {
		margin-right: 0;
	}
}

//end top
//start products
.products {
	&__inner {
		display: flex;
		justify-content: space-between;
		padding-left: 50px;
	}

	&__text {
		max-width: 440px;
	}

	&__text-paragraph {
		margin-bottom: 30px;
	}
}

.products__slider {
	max-width: 560px;

	&::before {
		position: absolute;
		content: '';
		width: 560px;
		height: 276px;
		border: 4px solid #fff;
		top: -15px;
		right: -17px;
	}

	&-box {
		position: relative;
		padding-top: 152px;
	}

	&-text {
		width: 280px;
		position: absolute;
		text-align: right;
		font-size: 24px;
		line-height: 28px;
		@extend %ubuntu-medium;
		bottom: 30px;
		left: -251px;
		z-index: 5;

		&-paragraph {
			line-height: 25px;
			@extend %ubuntu-light;
		}
	}
}

.slider-btn {
	padding: 16px 26px;
	border: none;
	cursor: pointer;
	background-color: #fff;
	position: absolute;
	bottom: -45px;
	right: 0;
	z-index: 5;

	svg {
		stroke: #000;
	}

	&__left {
		right: 65px;
	}

	&.slick-disabled {
		background-color: #000;

		svg {
			stroke: #fff;
		}
	}
}

//end products
//start benefits
.benefits {
	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-left: 25px;
	}

	&__item {
		margin-bottom: 100px;
		display: flex;
		align-items: flex-end;

		&:nth-child(even) {
			margin-left: 45px;
			transform: translateY(25px);
		}

		&:nth-child(3) {
			margin-left: 56px;
		}

		// &:nth-child(4){
		// margin-left: 60px;
		// }
		&:first-child,
		&:nth-child(3) {
			position: relative;

			&::before,
			&::after {
				content: '';
				position: absolute;
				background-repeat: no-repeat;
				background-position: 0 0;
			}
		}

		&:first-child {
			&::before {
				height: 48px;
				width: 245px;
				background-image: url('../images/line-1.svg');
				right: -56px;
				top: 30px;
			}
		}

		&:nth-child(3) {
			&::before {
				height: 62px;
				width: 463px;
				background-image: url('../images/line-2.svg');
				right: -32px;
				top: -70px;
			}

			&::after {
				height: 49px;
				width: 254px;
				background-image: url('../images/line-3.svg');
				right: -56px;
				top: 60px;
			}
		}
	}


	&__num {
		font-size: 36px;
		line-height: 41px;
		@extend %ubuntu-bold;
		margin-right: 10px;
	}

	&__img {
		position: relative;
		margin-right: 32px;

		&::before {
			content: '';
			position: absolute;
			border: 2px solid #fff;
			width: 195px;
			height: 130px;
			right: -12px;
			top: -12px;
			z-index: -1;
		}
	}

	&__info {
		width: 300px;

		&-title {
			width: 123px;
			font-size: 21px;
			line-height: 24px;
			@extend %ubuntu-bold;
			margin-bottom: 10px;
		}

		&-text {
			font-size: 15px;
			line-height: 18px;
		}
	}
}

//end benefits
//start specification
.specification {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 30px;
	}

	&__item--center {
		margin-right: -15px;
		margin-left: -15px;

	}

	&__box {
		width: 280px;
		margin-top: 10px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: contain;
		}

		&-2 {
			margin-top: 140px;
		}

		&-4 {
			margin-top: 160px;
		}

		&-1::before {
			background-image: url('../images/pointer-1.svg');
			width: 229px;
			height: 114px;
			right: -185px;
			top: 16px;
		}

		&-2::before {
			background-image: url('../images/pointer-2.svg');
			width: 346px;
			height: 81px;
			right: -300px;
			top: -66px;
		}

		&-3::before {
			background-image: url('../images/pointer-3.svg');
			width: 258px;
			height: 103px;
			left: -288px;
			top: 15px;
		}

		&-4::before {
			background-image: url('../images/pointer-4.svg');
			width: 124px;
			height: 88px;
			left: -141px;
			top: -70px;
		}

		&-title {
			font-size: 21px;
			line-height: 28px;
			@extend %ubuntu-bold;
			margin-bottom: 10px;
		}

		&-text {
			font-size: 15px;
			line-height: 19px;
			@extend %ubuntu-light;
		}
	}
}

//end specification
//start questions
.questions {
	&__items {
		max-width: 757px;
		padding-bottom: 15px;
	}

	&__item {
		max-width: 690px;
		background-color: rgba(0, 0, 0, 0.3);
		position: relative;

		&:nth-child(3):before {
			content: '';
			position: absolute;
			top: -35px;
			right: -392px;
			background-image: url('../images/mavic-f.png');
			width: 319px;
			height: 125px;
		}
	}

	&__item-title {
		font-size: 21px;
		line-height: 28px;
		@extend %ubuntu-medium;
		color: rgba(#fff, .8);
		padding: 20px 10px 20px 40px;
		position: relative;
		cursor: pointer;
		margin-bottom: 4px;

		&:after {
			content: url('../images/accordion-arrow.svg');
			position: absolute;
			width: 72px;
			height: 67px;
			top: 0;
			right: -72px;
			background-color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__item-text {
		font-size: 15px;
		line-height: 22px;
		@extend %ubuntu-light;
		padding: 0 5px 75px 50px;
		margin: 0 0 4px;
		display: none;
	}

	&__item.questions__item--active {
		.questions__item-text {
			display: block;
		}

		.questions__item-title::after {
			transform: rotate(180deg);
		}
	}
}

//end questions
//start contacts
.contacts {
	&__inner {
		display: flex;
		padding-left: 25px;
	}

	&__info {
		width: 240px;
		margin-right: 60px;
	}

	&__info-box {
		margin-bottom: 30px;
	}

	&__info-title {
		line-height: 24px;
		font-size: 21px;
		margin-bottom: 13px;
		@extend %ubuntu-bold;
		margin-top: 0;
	}

	&__info-phone,
	&__info-email {
		font-size: 15px;
		line-height: 18px;
	}

	&__info-email:hover {
		text-decoration: underline;
	}

	&__form {
		width: 570px;
		margin-right: 106px;
	}

	&__form-title {
		line-height: 24px;
		font-size: 21px;
		margin-bottom: 13px;
		@extend %ubuntu-bold;
		margin-top: 0;
	}

	&__form-text {
		font-size: 15px;
		line-height: 18px;
		margin: 0 0 12px;
	}

	&__form-line {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
	}

	&__form-input,
	&__form-textarea {
		background: rgba(0, 0, 0, 0.5);
		padding: 15px;
		border: none;
		font-size: 13px;
		@extend %ubuntu-light;
		line-height: 17px;
		color: #fff;

		&::placeholder {
			color: rgba(#fff, .4);
		}
	}

	&__form-input {
		width: 49%;
	}

	&__form-textarea {
		width: 100%;
		min-height: 144px;
		resize: none;
		margin-bottom: 20px;
	}

	&__form-btn {
		text-transform: uppercase;
		font-size: 14px;
		@extend %ubuntu-bold;
		border: 1px solid #fff;
		border-radius: 2px;
		line-height: 16px;
		padding: 9px 15px;
		color: #fff;
		background-color: transparent;
		cursor: pointer;
		transition: all .5s;
		&:hover {
			background-color: #fff;
			color: #1c1c1c;
		}
	}
	&__social-list{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__social-item{
		margin: 12px 0;
	}
	&__social-link {
		opacity: 0.5;
		transition: all .5s;
		&:hover {
			opacity: 1;
		}
	}
}
.footer{
	position: absolute;
	bottom: 32px;
	left: 0;
	right: 0;
	&__copy{
		text-align: right;
		font-size: 13px;
		line-height: 15px;
		color: rgba(#fff, .64);
	}
}
//end contacts
@import "media";